@font-face {
    font-family: AmerikaSans;
    src: url('~@dvr/assets/fonts/amerika-sans.ttf');
}

html,
body {
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f3f5;
    color: #1a1a1a;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1rem;

    *:focus {
        outline: none;
    }
}

* {
    box-sizing: border-box;
}

.form-control {
    font-size: 1rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div[class^='react-toast-notifications__container'] {
    top: 74px;
    z-index: 9999;
}
