.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text {
    font-family: Arial, Helvetica, sans-serif !important;
}

.cardsContainer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 250px;
    margin: 10px 0;
}

.cardImage {
    height: 250px;
}
