.container {
    width: 350px;
    margin: 10px;
}

.image {
    width: 100%;
    height: 200px;
}

.text {
    font-family: Arial, Helvetica, sans-serif !important;
}

.price {
    @extend .text;
    flex: 1;
    padding: 0 10px;
}
