.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoImg {
    width: 50%;
    margin-bottom: 5%;
}

.accordionContainer {
    padding-bottom: 20px;
}

.title {
    padding-right: 10%;
    font-family: 'AmerikaSans', sans-serif !important;
}

.subtitle {
    align-self: flex-end;
}

.details {
    flex: 1;
    margin-right: 5% !important;
}

.button {
    white-space: nowrap;
}
