.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input {
    min-height: 70px;
}

.imageUploadContainer {
    display: flex;
    flex: 1;
}

.fileInput {
    margin-top: 12px;
    min-height: 58px;
}

.inputImageUrl {
    flex: 1;
    min-height: 70px;
}

.imagePreviewIcon {
    margin: 18px 0 0 15px;
}

.imagePreview {
    width: 300px;
    height: 200px;
}
